body {
    display: flex;
    align-content: center;
    height: 100vh;
    justify-content: space-around;
}
body>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

img {
    width: 60px;
}

form{
    border: 1px solid greenyellow;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    
}
input{
    margin: 5px;
    font-size: 30px;
}
button{
    margin: 5px;
    font-size: 30px;
    width: 95%;
    background-color: cyan;
}

