


header{
    height: 100px;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    background-color: aquamarine;
}
#imguser{
    height: 100%;
    border-radius: 50%;
}

#menu{
    display: none;
    position: absolute;
    z-index: 1000;
}
main{
    display: flex;
    flex-direction: row;
    height: 80vh;
}

aside{
    width: 30%;
    background-color: lightblue;
}

aside li{
    font-size: 40px;
}

aside ul{
    list-style: none;
}

aside i{
    width: 60px;
}
.asidemobil{
    display: none;
}

.contenedorprincipal{
    width: 70%;
}


@media (max-width: 760px) {
    aside{
        display: none;
    }  

    .asidemobil{
        display: block;
    }

    #menuoculto{
        display: none;
        list-style: none;
    }
    .contenedorprincipal{
        width: 100%;
    }
    main{
        flex-direction: column;
    }
}