


header{
    height: 100px;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    background-color: aquamarine;
}

header div{
    width: 200px;
}

#imguser{
    height: 100%;
    border-radius: 50%;
}

#menu{
    display: none;
    position: absolute;
    z-index: 1000;
}
main{
    display: flex;
    flex-direction: row;
    height: 80vh;
}

aside{
    width: 30%;
    background-color: lightblue;
}

aside li{
    font-size: 40px;
}

aside ul{
    list-style: none;
}

aside i{
    width: 60px;
}
.asidemobil{
    display: none;
}

.contenedorPrincipal{
    width: 70%;
    padding: 20px;
    overflow: auto;;
}

footer p{
    margin: 0;
}
footer{
    border-top:2px solid blue;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  tbody{
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 60%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  td i{
    margin-left: 20px;
  }
  form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }

@media (max-width: 760px) {
    aside{
        display: none;
    }  

    .asidemobil{
        display: block;
    }

    #menuoculto{
        display: none;
        list-style: none;
    }
    .contenedorprincipal{
        width: 100%;
    }
    main{
        flex-direction: column;
    }
}